@tailwind base;
@tailwind components;
@tailwind utilities;

nav li{
    padding: 20px 8px;
    font-size: 14px;
}
li::first-letter{
    font-size: 1rem;
    font-weight: bold;
}
.btn::first-letter{
    font-size: 1rem;
    font-weight: bold;
}

.upper::first-letter{
    font-size: 25px;
    font-weight: bold;
}

.service li{
    padding: 10px 0;
    font-weight: bold;
}
.mobile-menu li{
    padding: 8px 0px ;
}
.mobile-menu li:Hover{
    color: black;
}
body{
    font-family: 'Roboto Condensed';
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

