@tailwind base;
@tailwind components;
@tailwind utilities;

nav li{
    padding: 16px 8px;
    font-size: 14px;
}
li::first-letter{
    font-size: 1rem;
    font-weight: bold;
}
.btn::first-letter{
    font-size: 1rem;
    font-weight: bold;
}

.upper::first-letter{
    font-size: 25px;
    font-weight: bold;
}

body{
    font-family: 'Roboto Condensed';
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

